public-hoist-pattern[]=*fastify*
public-hoist-pattern[]=mongodb
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*webpack*

# https://zenn.dev/haxibami/scraps/083718c1beec04
strict-peer-dependencies=false
